.container, .container-white {
    margin: 6rem;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container {
    background: #F6F6F6;
}
.container-logement {
    margin: 6rem;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.error {
    text-align: center;
}
.error-title {
    font-size: 200px;
    line-height: 100px;
    font-weight: 700;
    color: #FF6060;
}
.error-subtitle {
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;
}
.error-link {
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-decoration: underline;
    display: block;
    margin: 150px 0px 150px 0px;
}
.logement-title {
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;
    margin-block-end: 0.5em;
}
.logement-subtitle {
    font-size: 18px;
    font-weight: 500;
    margin-block-start: 0;
}
.logement-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.owner-info {
    display: flex;
    align-items: center;
    text-align: right;
    color: #FF6060;
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
}
.owner-firstname {
    margin-bottom: 4px;
}
.owner-lastname {
    margin-top: 4px;
}
.owner-photo {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-left: 10px;
}
.container-collapses {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.container-collapses .collapse-header {
    width: 80%;
}
.container-collapses .collapse p {
    white-space: pre-wrap;
    width: 80%;
}
@media screen and (max-width: 768px) {
    .container {
       background-color: white;
       margin: 0;
    }
    .container-white {
        margin: 1.5rem;
    }
    .error-title {
        font-size: 100px;
        line-height: 130px;
    }
    .error-subtitle {
        font-size: 18px;
        text-align: center;
        margin: 0 6rem;
    }
    .error-link {
        font-size: 14px;
    }
}