.container, .container-white {
    margin: 6rem;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container {
    background: #F6F6F6;
}
.container-white {
    background: white;
}
.error {
    text-align: center;
}
.error-title {
    font-size: 200px;
    line-height: 100px;
    font-weight: 700;
    color: #FF6060;
}
.error-subtitle {
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;
}
.error-link {
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-decoration: underline;
    display: block;
    margin: 150px 0px 150px 0px;
}