
* {
	font-family: 'Montserrat', sans-serif;
}
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
    margin: 4rem 8rem 4rem 8rem;
}
.header-logo {
	width: 210px;
}
.nav {
	display: flex;
	gap: 60px;
}
.link {
	text-decoration: none;
	color: black;
	font-weight: 500;
  	font-size: 24px;
}
.link.active {
	text-decoration: underline;
}
.footer {
	background-color: black;
	color: white;
	text-align: center;
	height: 13rem;
	margin-top: 2.5rem;
}
.footer-logo {
	margin-top: 4rem;
	height: 2.5rem;
	filter: brightness(0) invert(1); 
}
.footer h3 {
	font-weight: 400;
}
@media screen and (max-width: 768px) {
	.header {
		margin: 30px;
	}
	.header-logo {
		width: 150px;
	}
	.nav {
		gap: 20px;
	}
	.link {
		font-size: 12px;
	}
	.footer {
		height: 12rem;
	}
	.footer-logo {
		margin-top: 3rem;
		height: 2rem;
	}
	.footer h3 {
		font-size: 18px;
	}
	.footer-credit span {
        display: block;
    }
}