
* {
    font-family: 'Montserrat', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px;
    margin: 20px;
  }
  
  .header-logo {
    width: 210px;
  }
  
  .nav {
    display: flex;
    gap: 60px;
  }
  
  .link {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 24px;
  }
  
  .link.active {
    text-decoration: underline;
  }
  