
* {
	font-family: 'Montserrat', sans-serif;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
    margin: 6rem;
}
  
.header-logo {
	width: 210px;
}

.nav {
	display: flex;
	gap: 60px;
}

.link {
	text-decoration: none;
	color: black;
	font-weight: 500;
  font-size: 24px;
}

.link.active {
	text-decoration: underline;
}

.footer {
	background-color: black;
	color: white;
	text-align: center;
	height: 13rem;
	margin-top: 2.5rem;
}

.footer-logo {
	margin-top: 4rem;
	height: 2.5rem;
	filter: brightness(0) invert(1); 
}